<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RotaPuc-Universidades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/Pedro/universidades.css">
</head>
<body>
    <h1>Pedro Ferreira</h1>
    <header>
        <a href="#" class= 'logo'>
          <!-- <img src="https://drive.google.com/file/d/1YxDBm-TsWUHwISNXYATHCInP9VnZ7vqp/view?usp=sharing" alt="Logo do RotaPUC" width="58">-->
            Rota<span>PUC</span>
        </a>
        <nav>
            <ul>
                 <li><a href="index.html">Inicio</a></li>
                 <li><a href="#">Universidades</a></li>
                 <li><a href="../../Manu/html-paginas-manu/paises.html">Países</a></li>
                 <li><a href="#">Processo Seletivo</a></li>
                 <li><a href="#">Fórum</a></li>
                 <li><a href="../../Daniel/html-paginas-daniel/contatos.html">Contatos</a></li>
                 <li><a href="#">Quem somos</a></li>
            </ul>
        </nav>
    </header>
<section class="filtros">
    <span class="selo">Universidades conveniadas</span>
    <h2>Encontre sua universidade</h2>
    <div class="campos">
        <div class="campo">
            <label for="busca">Busca Universidade</label>
            <input type="search" id="busca" placeholder="Nome, cidade ou pais">
        </div>
        <div class="campo">
            <label for="continente">Continente</label>
            <select id="continente">
                <option>Todos</option>
                <option>Europa</option>
                <option>America do Sul</option>
            </select>
        </div>
        <div class="campo">
            <label for="lingua">Lingua</label>
            <select id="lingua">
                <option>Todos</option>
                <option>Alemão</option>
                <option>Inglês</option>
                <option>Espanhol</option>
            </select>
        </div>
        <div class="campo">
            <label for="nivel">Nivel</label>
            <select id="nivel">
                <option>Todos</option>
                <option>Graduação</option>
                <option>Pos-Graduação</option>
            </select>
        </div>
        <div class="campo">
            <label for="duração">Duração</label>
            <select id="duração">
                <option>Todos</option>
                <option>1 semestre</option>
                <option>2 semestres</option>
            </select>
        </div>
        <div class="campo">
            <label for="curso">Curso</label>
            <select id="curso">
                <option>Todos</option>
                <option>Engenharias</option>
                <option>Design</option>
                <option>Direito</option>
                <option>Economia</option>
                <option>Ciencia da computação</option>
                <option>Arquitetura</option>
            </select>
        </div>
        <div class="campo">
            <label for="tipo">Tipo</label>
            <select id="tipo">
                <option>Todos</option>
                <option>Convênio</option>
                <option>Duplo diploma</option>
                <option>Verão</option>
            </select>
        </div>
    </div>
</section>

<section class="resultados">
    <p>8 universidades encontradas</p>
    <section class="bloco-pais">
        <span class=" selo">Alemanha</span>
        <div class="cards">
                <article class="card-univ">
                    <h3>Technical University of Munich</h3>
                    <p>Munique</p>
                    <a href="https://www.tum.de/" target="_blank">www.tum.de/</a>
                    <a class="botao-azul" href='#'>saiba mais</a>
                </article >
                <article class="card-univ" >
                    <h3>Heidelberg University</h3>
                    <p>Heildelberg</p>
                    <a href="https://www.uni-heidelberg.de/en" target="_blank">www.uni-heidelberg.de/en</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
            </div>
    </section>
    <section class="bloco-pais">
        <span class="selo">Espanha</span>
         <div class="cards">
                <article class="card-univ">
                    <h3>Universidad de Salamanca</h3>
                    <p>Salamanca</p>
                    <a href="https://usal.es/" target="_blank">usal.es/</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
                <article class="card-univ">
                    <h3>Universidad Politécnica de Madrid</h3>
                    <p>Madri</p>
                    <a href="https://www.upm.es/" target="_blank">www.upm.es/</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
            </div>
    </section>
    <section class="bloco-pais">
        <span class="selo">Argentina</span>
        <div class="cards">
                <article class="card-univ">
                    <h3>Universidad de Buenos Aires</h3>
                    <p>Buenos Aires</p>
                    <a href="https://www.uba.ar/" target="_blank">www.uba.ar/</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
                <article class="card-univ">
                    <h3>Pontificia Universidad Católica Argentina</h3>
                    <p>Buenos Aires</p>
                    <a href="https://uca.edu.ar/es/home" target="_blank">uca.edu.ar</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
            </div>
    </section>
    <section class="bloco-pais">
        <span class=" selo">Chile</span>
        <div class="cards">
                <article class="card-univ">
                    <h3>Pontificia Universidad Católica de Chile</h3>
                    <p>Santiago</p>
                    <a href="https://www.uc.cl/" target="_blank">www.uc.cl/</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
                <article class="card-univ">
                    <h3>Universidad de Chile</h3>
                    <p>Santiago</p>
                    <a href="https://uchile.cl/" target="_blank">uchile.cl/</a>
                    <a class="botao-azul" href="#">saiba mais</a>
                </article>
            </div>
    </section>
</section>
<footer class="rodape">

    <a class="selo" href="../../Daniel/html-paginas-daniel/contatos.html">contato com a coordenação</a>

    <div class="contatos">
        <div>
            <h3>Endereço</h3>
            <p>Rua Marquês de São VIcente, 225</p>
            <p>Gáveia, RIo de Janeiro - RJ</p>
            <p>Edificio Cardeal Leme, Sala 130</p>
        </div>

        <div>
            <h3>Email</h3>
            <p>ccci-puc@puc-rio.br</p>
            <p>info.ccci@puc-rio.br</p>
            <p>intercambio@puc-rio.br</p>
        </div>

        <div>
            <h3>Telefone</h3>
            <p>+55 (21) 3527-1577</p>
            <p>+55 (21) 3527-1578</p>
            <p>Fax: ramal 1579</p>
        </div>

        <div>
            <h3>Instragram</h3>
            <p>@ccci_pucrio</p>
            <p>#PUCRioIntercambio</p>
        </div>

        <div>
            <h3>Horário de funcionamento</h3>
            <p>9h00 às 12h00</p>
            <p>14h00 às 17h00</p>
        </div>
    </div>
</footer>
</body>
</html> 