<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RotaPuc-Pagina-Inicial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/Pedro/inicio.css">
</head>
<body>
    <h1>Pedro Luiz Ferreira da Silva</h1>
    <header>
        <a href="#" class= 'logo'>
          <!-- <img src="https://drive.google.com/file/d/1YxDBm-TsWUHwISNXYATHCInP9VnZ7vqp/view?usp=sharing" alt="Logo do RotaPUC" width="58">-->
            Rota<span>PUC</span>
        </a>
        <nav>
            <ul>
                 <li><a href="#">Inicio</a></li>
                 <li><a href="#">Universidades</a></li>
                 <li><a href="#">Países</a></li>
                 <li><a href="#">Processo Seletivo</a></li>
                 <li><a href="#">Fórum</a></li>
                 <li><a href="#">Contatos</a></li>
                 <li><a href="#">Quem somos</a></li>
            </ul>
        </nav>
    </header>

    <section class=" hero">
        <span class= 'selo'>Intercâmbio Puc</span>
        <h2>
            Seu intercâmbio começa aqui
        </h2>

        <p>
           Descubra <b>paises parceiros</b>,
            <i>universidades conveniadaas</i> e todas as etapas do
            <mark>processo seletivo</mark>
            em um so lugar.
        </p>

        <div class="botoes">
            <a href="#" class='botao-azul'>Buscar Universidades</a>
            <a href="#" class="botao-branco">Ver paises parceiros</a>
        </div>

    </section>

    <section class="banner">
        <h3>
            Inscrições abertas para o semestre de outono
        </h3>

        <p>
            Confira os <strong>prazos</strong> e a <em>documentação exigida</em> no processo seletivo.
        </p>

        <a href="#" class='botao-azul'>Ver processo seletivo</a>
    </section>

    <section class="paises">
        <div class="centro">
            <span class="selo">Paises parcceiros</span>
            <h2 class="titulo-paises">Escolha seu destino</h2>
        </div>
         <div class="cards">
            <a class="card" href=#>
                <div class="card-texto">
                    <h3>Alemanha</h3>
                    <p>2 universidades conveniadas</p>
                </div>
            </a>
            <a class="card" href=#>
                <div class="card-texto">
                    <h3>Espanha</h3>
                    <p>2 universidades conveniadas</p>
                </div>
            </a>
            <a class="card" href=#>
                <div class="card-texto">
                    <h3>Argentina</h3>
                    <p>2 universidades conveniadas</p>
                </div>
            </a>
            <a class="card" href=#>
                <div class="card-texto">
                    <h3>Chile</h3>
                    <p>2 universidades conveniadas</p>
                </div>
            </a>
         </div>
    </section>

   <footer class="rodape">

    <span class="selo">contato com a coordenação</span>

    <div class="contatos">
        <div>
            <h3>Endereço</h3>
            <p>Rua Marquês de São VIcente, 225</p>
            <p>Gáveia, RIo de Janeiro - RJ</p>
            <p>Edificio Cardeal Leme, Sala 130</p>
        </div>

        <div>
            <h3>Email</h3>
            <p>ccci-puc@puc-rio.br</p>
            <p>info.ccci@puc-rio.br</p>
            <p>intercambio@puc-rio.br</p>
        </div>

        <div>
            <h3>Telefone</h3>
            <p>+55 (21) 3527-1577</p>
            <p>+55 (21) 3527-1578</p>
            <p>Fax: ramal 1579</p>
        </div>

        <div>
            <h3>Instragram</h3>
            <p>@ccci_pucrio</p>
            <p>#PUCRioIntercambio</p>
        </div>

        <div>
            <h3>Horário de funcionamento</h3>
            <p>9h00 às 12h00</p>
            <p>14h00 às 17h00</p>
        </div>
    </div>
</footer>