<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RotaPuc-Universidades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/Manu/paises.css">
</head>
<body>
    <header>
        <a href="#" class= 'logo'>
          <!-- <img src="https://drive.google.com/file/d/1YxDBm-TsWUHwISNXYATHCInP9VnZ7vqp/view?usp=sharing" alt="Logo do RotaPUC" width="58">-->
            Rota<span>PUC</span>
        </a>
        <nav>
            <ul>
                 <li><a href="../../Pedro/html-paginas-pedro/index.html">Inicio</a></li>
                 <li><a href="../../Pedro/html-paginas-pedro/index2.html">Universidades</a></li>
                 <li><a href="#">Países</a></li>
                 <li><a href="#">Processo Seletivo</a></li>
                 <li><a href="#">Fórum</a></li>
                 <li><a href="../../Daniel/html-paginas-daniel/contatos.html">Contatos</a></li>
                 <li><a href="#">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <div class="centro">
        <span class="selo">GUIA DE DESTINOS</span>
        <h2 class="titulo-paises">Países Parceiros</h2>
        <p class="explore"> Explore os destinos com convênio ativo da 
            PUC-Rio e veja quantas universidades estão 
            disponíveis em cada país.
        </p>
    </div>
    <h3 class="titulo-continentes">Europa</h3>
    <div class="continentes">
        <div class="card-pais">
            <img src="../../../static/css/Pedro/alemanha.jpg">
            <h4 class="titulos-paises">Alemanha</h4>
            <p class="card-texto">2 universidades conveniadas</p>
        </div>
        <div class="card-pais">
            <img src="../../../static/css/Pedro/espanha.jpg">
            <h4 class="titulos-paises">Espanha</h4>
            <p class="card-texto">2 universidades conveniadas</p>
        </div>
    </div>
    <h3 class="titulo-continentes">América do Sul</h3>
    <div class="continentes">
        <div class="card-pais">
            <img src="../../../static/css/Pedro/argentina.jpg">
            <h4 class="titulos-paises">Argentina</h4>
            <p class="card-texto">2 universidades conveniadas</p>
        </div>
        <div class="card-pais">
            <img src="../../../static/css/Pedro/chile.jpg">
            <h4 class="titulos-paises">Chile</h4>
            <p class="card-texto">2 universidades conveniadas</p>
        </div>
    </div>
    <footer class="rodape">
        <a class="selo" href="../../Daniel/html-paginas-daniel/contatos.html">contato com a coordenação</a>

        <div class="contatos">
            <div>
                <h3>Endereço</h3>
                <p>Rua Marquês de São VIcente, 225</p>
                <p>Gáveia, RIo de Janeiro - RJ</p>
                <p>Edificio Cardeal Leme, Sala 130</p>
            </div>

            <div>
                <h3>Email</h3>
                <p>ccci-puc@puc-rio.br</p>
                <p>info.ccci@puc-rio.br</p>
                <p>intercambio@puc-rio.br</p>
            </div>

            <div>
                <h3>Telefone</h3>
                <p>+55 (21) 3527-1577</p>
                <p>+55 (21) 3527-1578</p>
                <p>Fax: ramal 1579</p>
            </div>

            <div>
                <h3>Instragram</h3>
                <p>@ccci_pucrio</p>
                <p>#PUCRioIntercambio</p>
            </div>

            <div>
                <h3>Horário de funcionamento</h3>
                <p>9h00 às 12h00</p>
                <p>14h00 às 17h00</p>
            </div>
        </div>
    </footer>
</body>