<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - PUC Global</title>
    <link rel="stylesheet" href="../../../static/css/Daniel/contatos.css">""
</head>
</head>
<body>
    <header>
        <div class="logo">
            <span>Logo</span>
            <strong>PUC GLOBAL</strong>
        </div>
        <div class="menu">
            <a href="../../Pedro/html-paginas-pedro/index.html">Início</a>
            <a href="../../Pedro/html-paginas-pedro/index2.html">Universidades</a>
            <a href="#">Países</a>
            <a href="#">Processo seletivo</a>
            <a href="#">Fórum</a>
            <a href="#">Contatos</a>
            <a href="#">Quem somos</a>
</div>
    </header>
    <main>
    <h2>CONTATO COM A COORDENAÇÃO DE GRADUAÇÃO</h2>
    <div class="contatos">
        <div class="contato">
            <h3>Endereço</h3>
            <p>R. Marquês de São Vicente, 225</p>
            <p>Gávea, Rio de Janeiro - RJ</p>
            <p>Edifício Padre Leonel Franca</p>
        </div>
        <div class="contato">
            <h3>Email</h3>
            <p> atende-ccci@puc-rio.br</p>
        </div>
        <div class="contato">
            <h3>Telefone</h3>
            <p>+5521 3527-1578</p>
            <p>+5521 3527-1094</p>
        </div>
        <div class="contato">
            <h3>Instagram</h3>
            <p>@ccci.pucrio</p>
        </div>
        <div class="contato">
            <h3>Horário de funcionamento</h3>
            <p>Segunda a Sexta-feira</p>
            <p>Das 09:00 às 12:00</p>
            <p>Das 14:00 às 17:00</p>
        </div>
        </div>
    </div>
        <div class="redes">
            <div class="rede">
                <span>Instagram</span>
            </div>

            <div class="rede">
                <span>Facebook</span>
            </div>

            <div class="rede">
                <span>YouTube</span>
            </div>

            <div class="rede">
                <span>Site</span>
            </div>
        </div>
    </div>
</main>
</body>
</html>