<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Pergunta - PUC Global</title>
    <link rel="stylesheet" href="../../../static/css/Daniel/nova-pergunta.css">
</head>">
</head>

<body>

    <header>
        <div class="logo">
            <span>Logo</span>
            <strong>PUC GLOBAL</strong>
        </div>

        <div class="menu">
            <span>Início</span>
            <span>Universidades</span>
            <span>Países</span>
            <span>Processo seletivo</span>
            <span>Fórum</span>
            <span>Contatos</span>
            <span>Quem somos</span>
        </div>
    </header>

    <main>

        <h2>FÓRUM DE PERGUNTAS</h2>

        <h1>Nova Pergunta</h1>

        <p>Compartilhe sua dúvida com a comunidade</p>

        <div class="formulario">

            <h3>Título</h3>
            <input type="text" placeholder="Digite o título da sua pergunta">

            <h3>Descrição detalhada</h3>
            <textarea placeholder="Descreva sua dúvida"></textarea>

            <h3>Tags sugeridas</h3>

            <div class="tags">
                <span>+ Alemanha</span>
                <span>+ Europa</span>
                <span>+ Matrícula</span>
                <span>+ Visto</span>
            </div>

            <button>Postar</button>

        </div>

    </main>

</body>

</html>